*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  background-color: var(--background);
  color: var(--primary-text-color);
  margin: 0;
  line-height: 1.6;
}


/* TYPOGRAPHY */

.section-title {
  font-family: var(--font-family-titles);
  font-weight: 400;
}


/* Links */

nav ul, .social-media ul { /*TODO: Check if .social-media ul could be a nav ul*/
  list-style: none;
  margin: 0;
  padding: 0; 
}

nav li {
  margin-right: 1.5rem;
}

nav a {
  text-decoration: none;
}

nav a:hover,
nav a:focus {
  cursor: pointer;
}


/* Navigation Bar (Header) */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav ul {
  display: flex;
}

.header-nav a {
  color: var(--primary-text-color);
}


/* HERO Section */

.hero {
  background-image: url(../images/hero-image.jpeg); /*TODO: Accessibility for background images*/
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: var(--white-text);
  text-transform: capitalize;
}


.card-container {
  background-color: var(--card-background);
}


/* Car Gallery */

.color-circle {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.gray   { background-color: #C5C5C5;}
.red    { background-color: #B20000;}
.blue   { background-color: #0010A1;}
.black  { background-color: black;}
.yellow { background-color: #E2C324;}
.blue-2 { background-color: #515F91;} /*TODO : Change name to class*/


/* Dealership Section*/

.dealer-nightmap {
  background-image: url(../images/dealer-night-map.png); /*TODO: Accessibility for background images*/
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: var(--white-text);
}

/*TODO: This below is just to show the card. Nothing to do with the design*/
.dealer-card-container {
  background-color: gray;
  opacity: 50%;
}

/* Features Section */


/* Maybach RED Section*/

.maybach-red {
  background-image: url(../images/maybach-red.png);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  color: var(--white-text);
}


/* Mayback Wheel*/


/* Appointment Section */

.appointment {
  background-color: var(--appointment-background);
  color: var(--white-text);
}


/* footer */

footer {
  background-color: var(--footer-background);
  font-family: var(--font-family-footer);
  color: var(--white-text);
  text-align: center;
}

.social-media ul {
  padding: 1em; 
  display: flex;
  max-width: 250px;
  justify-content: space-around;
  
}


.footer-nav a {
  color: var(--footer-color)
}